<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <p>This is the home page. 1+2</p>
    <h3><%= 1+2  %></h3>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque cumque corporis facere, fuga consequuntur
        omnis voluptate, amet non atque, architecto dolore deserunt unde? Commodi sint magni doloremque blanditiis
        aperiam totam!</p>
    <button>click me</button>
</body>

</html>